@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Rubik&display=swap');

body{
  font-family: "Rubik", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}
.metronome {
    width: 300px;
    height: 250px;
    justify-content: space-between;
}
.bpm-display {
    width: 100%;
    text-align: center;
    color: #fa545c;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}
.bpm-display .tempo {
    font-size: 6em;
    font-family: "Rubik", sans-serif;
}
.tempo-text {
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: center;
    font-family: "Raleway", sans-serif;
}

.tempo-settings {
    display: flex;
    justify-content: space-between;
}

.dot {
  height: 200px;
  width: 200px;
  border: 2px solid;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

.beats-per-measure-text {
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    
}

.form-control{
  margin: 0 20px 0 20px;
  width: 100%;
}

@media (max-width: 480px) {
    .form-inline .form-control {
        width: 150px;
    }
    .top-section{
      height:200px;
    }
    .dot{
      height: 200px;
      width: 200px;
    }
}

.top-section{
  background: #fa545c;
  color: #fff;
  height: 100px;
  text-align: center;
  padding-top: 30px;
}

.join-btn {
  color: #fa545c;
  font-family: "Raleway", sans-serif;
}

.btn:hover{
  color:#fa545c;
}
